@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

main {
    /*outline: 4px solid teal;*/ 
    width: 70vw;
    margin: 0 auto;
}
p, a {
    font-family:'Open Sans', sans-serif;
  }
  a {
    font-weight: bolder;
  }

.main-header-section{
    /*outline: 3px solid pink;*/
    text-align: center;
    margin-bottom: 50px;
}
.main-content-card{
    /*outline: 3px solid red;*/
    display: flex;
    flex-direction: column; 
    margin-bottom: 50px;
}
.main-content-card a{
    color:blue;
    text-decoration: none;
}

.card-image img{
max-width: 100%;
}
.card-content{
    padding-left: 40px;
    box-sizing: border-box;
    text-align: left;
   
}

@media (min-width: 600px){
    .card-image, .card-content{
        max-width: 50%;
    } 
    .main-content-card{
        display: flex;
        flex-direction: row;
    }
    .card-content{
        padding-right: 40px;
        text-align: left;
    }
    .main-content-card:nth-child(odd){
        flex-direction: row-reverse; 
    }
    .main-content-card:nth-child(odd) .card-content{
        padding-left:0;
        padding-right: 40px;
    }
}

